<header>
  <nav>
    <p *ngIf="connected">{{name}}Name test</p>
    <p *ngIf="connected">{{role}}Role Test</p>
    <input id="searchbar" type="text" name="search" placeholder="Search mario..">
    <a routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf="!connected">Connexion</a>
    <a routerLink="inscription" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf="!connected">Inscription</a>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf="connected">Home</a>
    <button (click)="disconnectUser" *ngIf="connected">Déconnexion</button>
  </nav>
</header>
